{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    "styled-components",
    "transform-runtime"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-inline-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
