{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-react-inline-elements",
    "transform-class-properties",
    "styled-components"
  ]
}
